.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  transition: transform 0.3s;
}
.body {
  &--fixed {
    overflow: hidden;
    @media only screen and (min-width: 500px) {
      padding-right: 17px;
    }
  }
}
p {
  line-height: 1.4;
}
.transition-link {
  display: flex;
  align-items: center;
  color: $clr-orange;
  &::after {
    content: "";
    width: 6px;
    height: 11px;
    background: no-repeat url("../../img/icon/arrowRight.svg") center;
    margin-left: 18px;
  }
}
