*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a,
button {
  color: inherit;
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}
input,
button {
  outline: none;
  border: none;
  font-family: inherit;
}
input {
  color: inherit;
}
button {
  cursor: pointer;
  background: none;
}
