*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding-left: 15px;
  margin-left: 15px;
}
a:hover {
  color: $clr-blue;
}
a,
button {
  color: inherit;
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}
input,
button {
  outline: none;
  border: none;
  font-family: inherit;
}
input {
  color: inherit;
  width: 100%;
}
button {
  cursor: pointer;
  background: none;
}
