@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: $clr-black;
}
.section-title {
  font-size: 18px;
  margin-bottom: 16px;
}
.page-title {
  background: $clr-blue;
  padding-bottom: 32px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-family: "Gotham", sans-serif;
  color: #fff;
}
.timeline {
  padding: 16px 0 32px;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  & > * {
    &:not(:last-child) {
      display: flex;
      align-items: center;
      &::after {
        content: "/";
        margin: 0 5px;
      }
    }
  }
}
