@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: $clr-black;
}
.section-title {
  font-size: 18px;
  margin-bottom: 16px;
  @media only screen and (max-width: 500px) {
    text-align: center;
  }
}
.page-title {
  background: $clr-blue;
  padding-bottom: 32px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-family: "Gotham", sans-serif;
  color: #fff;
}
.timeline {
  padding: 16px 0 32px;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  color: #201a39;
  & > * {
    &:not(:last-child) {
      display: flex;
      align-items: center;
      &::after {
        content: "/";
        margin: 0 5px;
      }
    }
  }
  @media only screen and (max-width: 500px) {
    padding-bottom: 16px;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover &-content {
    visibility: visible;
    opacity: 1;
  }
}
.dropdown-content {
  z-index: 1;
  color: $clr-blue;
  min-width: 160px;
  border-radius: 4px;
  position: absolute;
  top: 22px;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  &::before {
    content: "";
    width: 8.5px;
    height: 8.5px;
    position: absolute;
    top: -4.2px;
    left: 15px;
    background: #fff;
    transform: rotateZ(45deg);
    z-index: -1;
  }
  ul {
    border-radius: 4px;
    overflow: hidden;
  }
  li {
    a {
      padding: 16px 16px;
    }
    &:hover {
      background: darken($color: #fff, $amount: 3%);
    }
    &:not(:last-child) a {
      border-bottom: 0.5px solid #c7c8ca;
    }
  }
}
