.header {
  color: #fff;
  font-size: 15px;
  &__logo {
    display: flex;
    align-items: center;
    img {
      margin-right: 12px;
      padding: 10px 0;
    }
    h2 {
      font-size: 20px;
      max-width: 187px;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  &__inner {
    background-color: $clr-blue;
  }
  &__mobile-toggle {
    display: none;
    cursor: pointer;
    & > div {
      width: 20px;
      padding: 1px 0;
      height: 2px;
      background: #fff;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  .mobile-menu {
    display: none;
    .drop {
      overflow: hidden;
      .drop-header {
        display: flex;
        align-items: center;
        &::after {
          content: "";
          background: no-repeat url("../../img/header/langArrow.svg") center;
          width: 9px;
          height: 4px;
          margin-left: 5px;
          transition: transform 0.3s;
          transform: rotateZ(180deg);
        }
      }
      .drop-content {
        padding-left: 15px;
        height: 0;
      }
      &--active .drop-header::after {
        transform: rotateZ(0);
      }
      &--active .drop-content {
        height: auto;
      }
    }
  }
  &-upper {
    transition: 0.3s;
    &--full {
      height: 100vh;
    }
    &__inner {
      display: flex;
      padding: 5px 0;
      justify-content: space-between;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    }
    &-first {
      display: flex;
      align-items: center;
      & > *:not(:last-child) {
        margin-right: 32px;
      }
    }
    &-second {
      display: flex;
      align-items: center;
    }
    &-socials {
      margin-left: 56px;
      display: flex;
      align-items: center;
      & > *:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
  &-lower {
    position: relative;
    z-index: 1000;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menu-list {
      display: flex;
    }
    .submenu {
      position: absolute;
      border-radius: 4px;
      left: 2px;
      top: 50px;
      opacity: 0;
      width: 287px;
      transition: 0.3s;
      visibility: hidden;
      background: $clr-white;
      ul {
        border-radius: 4px;
        overflow-x: hidden;
      }
      &::before {
        content: "";
        width: 8.5px;
        height: 8.5px;
        position: absolute;
        top: -4.2px;
        left: 15px;
        background: #fff;
        transform: rotateZ(45deg);
        // background: no-repeat url("/img/pin/submenuArrow.svg") center;
        // background-size: cover;
      }
      li {
        padding: 0 16px;
        a {
          padding: 16px 0;
          font-size: 14px;
          color: $clr-blue;
          display: block;
        }
        &:hover {
          background: darken($color: #fff, $amount: 3%);
        }
        &:not(:last-child) a {
          border-bottom: 0.5px solid #c7c8ca;
        }
      }
    }
    .menu {
      & > ul {
        display: flex;
        justify-content: flex-end;
      }
      & > ul > li {
        position: relative;
        padding: 20px 0;
        &:hover .submenu {
          opacity: 1;
          visibility: visible;
        }
        &:not(:last-child) {
          margin-right: 32px;
        }
      }
      &:first-child {
        border-bottom: 1px solid rgba($color: #f8f8f8, $alpha: 0.2);
      }
    }
  }
  &__btn {
    margin: 0 24px 0 40px;
  }
  .lang-select {
    position: relative;
    z-index: 10000;
    &__header {
      display: flex;
      align-items: center;
      cursor: pointer;
      min-height: 50px;
      &::after {
        content: "";
        margin-left: 10px;
        width: 9px;
        height: 4px;
        background: no-repeat url("../../img/header/langArrow.svg") center;
        background-size: cover;
      }
    }
    &:hover .lang-list {
      display: block;
    }
  }
  .lang-list {
    position: absolute;
    top: 40px;
    top: 100%;
    width: 70px;
    right: 0;
    border-radius: 2px;
    z-index: 1000;
    background: #fff;
    color: #000;
    padding: 10px;
    display: none;
    &::before {
      content: "";
      position: absolute;
      z-index: 100;
      top: -6px;
      left: 42px;
      width: 20px;
      height: 20px;
      background: #fff;
      transform: rotate(45deg);
    }

    li {
      cursor: pointer;
      padding: 8px 0;
      text-align: center;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: darken($color: #fff, $amount: 10%);
    }
  }
  @media only screen and (max-width: 500px) {
    &__logo {
      img {
        padding: 0;
        width: 15vw;
      }
      h2 {
        display: none;
      }
    }
    &-upper-socials,
    &__phone,
    &-lower-second {
      display: none;
    }
    &-lower__inner {
      padding-top: 7px;
    }
    &__mobile-toggle {
      display: block;
      div {
        transition: all 0.3s;
        transform-origin: left;
      }
      &--active {
        div {
          &:first-child {
            transform: rotateZ(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            transform: rotateZ(-45deg);
          }
        }
      }
    }
    &__logo {
      width: 180px;
    }
    &__inner {
      background-color: initial;
    }
    &-upper {
      background-color: $clr-blue;
      &__inner {
        position: relative;
        z-index: 1500;
      }
    }
    .remove-if-less-500 {
      display: none;
    }
    .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 10vh;
      display: grid;
      place-content: center;
      font-size: 25px;
      transition: 0.3s;
      background: $clr-blue;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      &--active {
        visibility: visible;
        opacity: 1;
        z-index: 100;
        height: 100vh;
      }
    }
    &__btn {
      padding: 6px 12px;
      margin-left: 0;
    }
  }
}
