%btn {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.38px;
  padding: 12px 46px;
  border-radius: 4px;
}
.btn-primary {
  @extend %btn;
  background: $clr-white;
  color: $clr-blue;
}
.btn-secondary {
  @extend %btn;
  background-color: $clr-orange;
  color: #fff;
  padding: 15px 16px;
}
.btn-load {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  background: #f8f8f8;
  border-radius: 2px;
  margin-bottom: 64px;
  color: $clr-blue;
  font-size: 18px;
  &::before {
    content: "";
    width: 21px;
    height: 18px;
    margin-right: 16px;
    background: no-repeat url("../../img/contests/CombinedShape.svg") center;
  }
  img {
    margin-right: 16px;
  }
}
